<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}
{% load taggit_templatetags2_tags %}


<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <br>
    <!-- 定义放置文章标题的div容器 -->
    <div class=" container">
        <div class="row">
            <div class="col-9 shadow-lg rounded bg-white">
                <!-- 面包屑的href增加search参数 -->
                <nav aria-label="breadcrumb " class="mt-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:article_list' %}?search={{ search }}" style="color:#FFA500;">
                                最新
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}" style="color:#FFA500;">
                                最热
                            </a>
                        </li>
                    </ol>
                </nav>
                <!-- 搜索栏 -->
                <!--
                <div class="row">
                    <div class="col-auto mr-auto">
                        <form class="form-inline" >
                            <label class="sr-only">content</label>
                            <input type="text" 
                                class="form-control mb-2 mr-sm-2" 
                                name="search" 
                                placeholder="搜索文章..." 
                                required
                            >
                        </form>
                    </div>
                </div>-->
                <!-- 搜索提示语 -->
                {% if search %}
                    {% if articles %}
                        <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
                        <hr>        
                    {% else %}
                        <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
                        <hr>
                    {% endif %}
                {% endif %}
                <!--标签搜索提示-->
                {% if tag and tag != 'None' %}
                <h4><span style="color: #FFA500">"{{ tag }}"</span>相关的文章：</h4>
                        <hr>
                {% endif %}
                <!-- 列表循环 -->
                <div class="row mt-2 ">
                    {% for article in articles %}
                    <!-- 标题图 -->
                            {% if article.avatar %}
                                <div class="col-4">
                                    <img src="{{ article.avatar.url }}" 
                                        alt="avatar" 
                                        style="max-width:100%; border-radius: 5px"
                                    >
                                </div>
                            {% endif %}
                        <!-- 文章内容 -->
                        <div class="col pr-0"  id="xxy">
                                <!-- 栏目 -->
                                {% if article.column %}
                                    <p style="color:#FFA500; font-size: x-large;">[
                                    <a href="{% url 'article:article_list' %}?column={{ article.column.id }}" style="color: gray;">
                                        {{ article.column }}
                                    </a>]</p>
                                    
                                {% endif %}
                                <a href="{% url 'article:article_detail' article.id %}" style="color: #212529; font-size: x-large;" >
                                    {{ article.title }}
                                </a> 
                                <!--文章内容节选--> 
                                <p style="color: gray; font-size:large;" class="mr-4">
                                    {{ article.body|slice:'100' }}...
                                </p>
                                <!-- 注脚 -->
                                <p class="mt-2 mb-0" style="font-size:small;" >
                                    <!-- 附加信息 -->
                                    <span style="color: #FFA500;">
                                        <i class="fas fa-eye" style="color: gray;"></i>
                                        {{ article.total_views }}&nbsp;&nbsp;
                                    </span>
                                    <span style="color: gray;">
                                        <i class="fas fa-clock" style="color: gray;"></i>
                                        <!--{{ article.created|date:'Y-m-d' }} -->
                                        {{ article.created|timesince_zh }} 发表&nbsp;&nbsp;
                                    </span>
                                    <span style="color: gray;">
                                        <i class="fas fa-clock" style="color: gray;"></i>
                                        {{ article.updated|date:'Y-m-d' }} 更新
                                    </span>
                                </p>                                                    
                        </div>
                            <!-- <div class="col-1 p-0">
                                文章标签 
                                <i class="fa fa-tag" style="color: gray;" aria-hidden="true"></i>
                                <span>
                                    {% for tag in article.tags.all %}
                                        <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                                        class="badge badge-secondary" 
                                        >
                                            {{ tag }}
                                        </a>
                                    {% endfor %}
                                </span>
                            </div> -->
                        <hr class="col-11">
                    {% endfor %}
                </div>
                <!-- 分页页码导航 -->

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if articles.has_previous %}
                            <li class="page-item">
                                <a class="page-link" style="color:#FFA500;" href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" style="color:gray;" href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">{{ articles.previous_page_number }}</a></li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link"  style="color:#FFA500;">{{ articles.number }}</a></li>
                        {% if articles.has_next %}
                            <li class="page-item"><a class="page-link" style="color:gray;" href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">{{ articles.next_page_number }}</a></li>
                            <li class="page-item">
                            <a class="page-link" style="color:#FFA500;" href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                            </li>
                        {% endif %}
                        
                    </ul>
                </nav>

                <!--原始分页<div class="pagination row">
                    <div class="m-auto">
                        <span class="step-links">
                            {% if articles.has_previous %}
                                <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-success">
                                    &laquo; 1
                                </a>
                                <span>...</span>
                                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" 
                                class="btn btn-secondary"
                                >
                                    {{ articles.previous_page_number }}
                                </a>
                            {% endif %}
                            <span class="current btn btn-lg">
                                {{ articles.number }}
                            </span>
                            {% if articles.has_next %}
                                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                                class="current btn"
                                >
                                    {{ articles.next_page_number }}
                                </a>
                                <span>...</span>
                                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                                class="current btn-sm"
                                >
                                    {{ articles.paginator.num_pages }} &raquo;
                                </a>
                            {% endif %}
                        </span>
                    </div>
                </div>-->
            </div>
            <div class="col-3" id="right-bar">
                <div class="card shadow-sm">
                    <form class="form-inline ml-auto mr-auto mt-3 mb-3" >
                        <label class="sr-only">content</label>
                        <input type="text" 
                            class="form-control " 
                            name="search" 
                            placeholder="搜索..." 
                            required
                        >
                    </form>
                </div>
                <!--<div class="bg-white shadow-sm rounded right-bbar mt-3">-->
                
                <div class="card mt-3 shadow-sm">
                  <img class="ml-auto mr-auto mt-4 shadow-lg" style="border-radius:50%;width: 150px;height: 150px; " src="http://127.0.0.1:8000/media/article/20200908/97c772321d520b0dc32da7fc7f34fa16.jpg" alt="头像"/>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                   <!-- {% get_tagcloud as tags %}
                    <ul>
                    {% for tag in tags %}
                    <li><font size={{tag.weight|floatformat:0}}>{{tag}}</font></li>
                    {% endfor %}
                    </ul>-->
                    <!--这里是标签云显示的位置
                        canvas_id是标签与div的ID
                        urlname是点击单标签跳转的连接地址，
                        这里直接写在源文件（地址：\env\Lib\site-packages\taggit_templatetags2\
                        templates\taggit_templatetags2\tagcanvas_include.html第19行）里了
                    -->
                    <div class="ml-3 mr-3 pt-3">
                        <p style="font-size:large;">标签云</p>
                        <hr class="mb-0">
                    </div>
                    {% include_tagcanvas 'canvas_id' '250px' '250px' 'urlname' '' %}
                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}